.cabecalho,
.navbar {
  display: flex;
  align-items: center;
}

.cabecalho {
  padding: 3rem;
  justify-content: space-between;
  height: 139px;
}

.navbar {
  gap: 3rem;
}

.forma {
  position: absolute;
  z-index: -1;
}

.perfil__img {
  --lado: 40px;
  width: var(--lado);
  height: var(--lado);
  border-radius: 50%;
}

@media (min-width: 768px) {
  .navbar__logo {
    display: inline-block;
  }
  
  .navbar__logo__img {
    width: 128px;
  }

  .perfil__img {
    --lado: 48px;
  }
}

@media (min-width: 1440px) {
  .cabecalho {
    padding: 3rem 10rem;
  }

  .perfil__img {
    --lado: 56px;
  }
}