.principal {
  width: 70%;
  max-width: 344px;
}

.boas-vindas {
  gap: 1.5rem;
}

.boas-vindas,
.boas-vindas__botoes,
.boas-vindas__textos {
  flex-direction: column;
}

.boas-vindas__textos,
.boas-vindas__botoes {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.boas-vindas__botoes .btn {
  width: 100%;
}

.imagens {
  margin-top: 0;
}

.ilustracao-1 {
  display: block;
  margin-left: -3rem;
}

.forma-2 {
  right: 0;
  left: unset;
  top: 200px;
  transform: scale(1);
}

.rodape {
  margin-top: -25px;
}

@media (min-width: 768px) {
  .boas-vindas__botoes .btn {
    max-width: 362px;
    margin: auto;
  }
}