.principal {
  width: 70%;
  max-width: 344px;
}

.formulario {
  flex-direction: column;
  gap: 1.5rem;
}

.formulario__textos {
  gap: 1rem;
  min-height: 88px;
}

.formulario,
.formulario__textos,
.form,
.form label {
  display: flex;
  flex-direction: column;
}

.form {
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.form label {
  width: 100%;
  gap: 0.25rem;
  color: var(--cinza);
}

.form input {
  background-color: var(--cinza-claro);
  border-radius: 0.375rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  height: 40px;
  text-align: center;
  color: #BCBCBC;
}

.form input::placeholder {
  color: #BCBCBC;
  font-size: 0.75rem;
  line-height: 1rem;
}

.link {
  color: var(--vermelho);
  text-decoration: underline;
  margin-top: -0.5rem;
}

.form .btn {
  margin-top: 0.5rem;
}

.ilustracao-2 {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 768px) {
  .ilustracao-2 {
    height: 375px;
  }
}

@media (min-width: 1440px) {
  .ilustracao-2 {
    height: 408px;
  }
}